@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --font1: Arial, Sans-serrif;
    --font2: "Oswald", sans-serif;
    --font3: "Caveat", cursive;
}

*{
    margin: 0%;
    padding: 0%;
}

header{
    font-variant: small-caps;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: var(--font2);
    font-size: 3vw;
} 

a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}


body{
    min-height: 100vh;
}

section, .text_photo{
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
}

section p {
    padding-bottom: 1.5em;
}
#photo{
    box-shadow: inset 1px 1px 15px black;
    background-image: url('imagens/monkey-3978907_1280.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#text{
    font-family: var(--font3);
    font-weight: 700;
    font-size: 4vw;
}

.text_photo{
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 5px black;
    color: aliceblue;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

#photo2{
    box-shadow: inset 1px 1px 15px black;
    background: url('imagens/books-1842261_1280.jpg') right bottom no-repeat fixed;
    background-size: cover;
}

footer{
    font-family:var(--font2);
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin: auto;
    padding: 15px;
}

footer a{
    color: rgb(159, 88, 224);
}
footer a:hover{
    color: rgb(107, 20, 189);
}